@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');
.container
{
    margin: auto;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;

}
.container::-webkit-scrollbar{
    display: none;
}
.main_body{
    margin-top: 0;
    padding-top: 2rem;
    height: 100vh;
    background:rgb(224, 193, 224);
    
}
.col1{
    padding: 4rem;
    padding-left: 5rem;
    font-family: 'Poppins','sans-serif';
}
.col1 h2{
    font-weight: 800;
    font-size: 45px;
    letter-spacing:2px;
    padding-bottom: 10px;
}
.col1 p{
    font-family: 'Poppins';
    font-size: 15px;
    color: #878787;
    text-align: justify;
    line-height: 22px;
    letter-spacing: 1.2px;
    padding-bottom: 1rem;
}
.col1 button{
    transition: background-color 900ms linear;
    width: 15rem;
    border-radius: 19px;
    height: 2.5rem;
    background: lightseagreen;
    border: none;
}
.col1 button:hover{
    background-color: rgb(2, 37, 57);
}
.col2 {
    background: url("https://firebasestorage.googleapis.com/v0/b/sih-project-1.appspot.com/o/8601.jpg?alt=media&token=9e8e8787-c7dc-4ee2-bc27-89dda0a26dbb") center center no-repeat;
    background-size:cover;
    border-top-right-radius: 1rem;
    height: 50vh;
}
