.navlink{
    margin-left: 10vh;
   
}
.navbar-nav{
    margin-left: 25rem;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.nav2{
    width: 100% !important;
}
.navbar{
    width: 79.5vw !important;
    background-color: #0b948c !important;
    margin-left: -15px !important;
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
}
.navbar-light .navbar-brand{
    color: white;
}
.navbar-collapse{
    align-items: baseline
}
